.title{
  color: #1DA57A;
  font-weight: bold;
}

.image{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  width: 36px;
  border-radius: 50%;
  border: 1px solid #1DA57A;
}

img{
  height: 16px;
}
