.wrapper{
  min-height: calc(100vh - 64px - 80px);
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 36px 24px 0;
}

.section{
  margin-bottom: 24px;
}

.avatar{
  border-radius: 4px;
  height: 200px;
}